@using MosqueLife.Shared.Models.Authentication
@page "/authentication/register"
@layout LoginLayout
@inject Providers.TokenAuthenticationStateProvider _tokenAuthenticationStateProvider
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager

<br />
@if (_showErrorAlert)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(true))">
        @foreach (var item in _apiErrors)
        {
            <span>@item</span>
        }
    </MudAlert>
}

<MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors">

    <MudText Typo="Typo.h4" GutterBottom="true">Sign Up</MudText>
    <MudText>Already have an account? <MudLink Href="/authentication/login">Sign In</MudLink></MudText>

    <MudTextField T="string" @bind-Value="_model.Firstname" Required="true" RequiredError="First name is required!" Label="First Name " Variant=" Variant.Outlined" Class="mt-4"></MudTextField>
    <MudTextField T="string" @bind-Value="_model.Lastname" Required="true" RequiredError="Last name is required!" Label="Last Name " Variant=" Variant.Outlined" Class="mt-4"></MudTextField>

    <MudTextField T="string" @bind-Value="_model.Email" Required="true" RequiredError="Email is required!" Label="E-mail " Validation="@(new EmailAddressAttribute {ErrorMessage = "The email address is invalid"})" Variant=" Variant.Outlined" Class="mt-4" Fo></MudTextField>

    <MudTextField T="string" Label="Password " @bind-Value="_model.Password" Variant="Variant.Outlined"
                  InputType="InputType.Password"
                  Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                  RequiredError="Password is required!" Class="mt-4" />
    <MudTextField T="string"
                  Label="Enter password again " @bind-Value="_model.ConfirmPassword" Variant="Variant.Outlined" InputType="InputType.Password"
                  Class="mt-4" />

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success && !_isBusy)" OnClick="HandleSubmit" Size="Size.Large" FullWidth="true" Class="mt-4">Register</MudButton>
</MudForm>

@code {
    private bool _success;
    private bool _isBusy;
    private bool _showErrorAlert;
    private string[] _errors = { };
    private MudForm? _form;
    private readonly RegisterModel _model = new();
    readonly List<string> _apiErrors = new();

    private static IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private async Task HandleSubmit()
    {
        _isBusy = false;
        _success = false;

        var response = await _httpClient.PostAsJsonAsync("api/account/register/", _model);

        var registerResult = await response.Content.ReadFromJsonAsync<RegisterResult>();

        if (registerResult?.Successful == true)
            _navigationManager.NavigateTo("authentication/login");
        else
        {
            _showErrorAlert = true;
            if (registerResult?.Errors.Any() == true)
                _apiErrors.AddRange(registerResult.Errors);
            
        }
    }

    private void CloseMe(bool value)
    {
        _showErrorAlert = !value;
    }
}

